body {
    background: #f9e933;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: stretch;
    align-content: center;
    background: red;
}

header a {
    color: black;
}

header h1 {
    font-family: cursive;
    font-size: 250%;
    font-style: bold;
    margin-left: 10%;
}

header nav {
    position: absolute;
    right: 35px;
}

main {
    background: white;
}

main .container {
    margin-left: 10%;
    padding: 5% 0;
}

main .tabs a span { 
    display: inline-block; 
    border-radius: 5px 5px 0 0;
    width: 100px;
    margin-right: 10px; 
    text-align: center; 
    background: #ddd; 
    padding: 5px; 
}

main .tabs a span.active { 
    background: #f9e933; 
}

main .container .content .inp{
    border-radius: 10px;
    margin: 2%;
}

main .container .content .btn{
    border-radius: 10px;
    background: red;
}

footer {
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: stretch;
    align-content: center;
    padding: 2% 5%;
    background: #f9e933;
}

footer .contact {
    float: left;
}

footer .sitemap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}

footer .sitemap ul {
    list-style: none;
    columns: 2;
}