<!doctype html> 
<html> 
    <head> 
        <title>Приложение для Flickr</title> 
    </head> 
    <body> 
        <header> 
        </header> 
        <main> 
            <div class="content">
            </div>
            <div class="photos"> 
            </div> 
        </main> 
        <footer> 
        </footer> 
        <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script> 
        <script src="flickr_app.js"></script> 
    </body> 
</html>