body {
    background: #f9e933;
}

header {
    text-align: center;
    background-color: red;
    padding: 10px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    flex-basis: 70%;
    color: black;
    margin-right: 5px;
    font-size: 110%;
}

header h1 {
    font-family: cursive;
    font-size: 250%;
    font-style: bold;
    margin-left: 10%;
}

header nav {
    flex-basis: 30%;
}

main {
    background: white;
}

main .container {
    margin-left: 10%;
    padding: 5% 0;
}

main .tabs a span { 
    display: inline-block; 
    border-radius: 5px 5px 0 0;
    width: 100px;
    margin-right: 10px; 
    text-align: center; 
    background: #ddd; 
    padding: 5px; 
}

main .tabs a span.active { 
    background: #f9e933; 
}

main .container .content li {
    margin: 10px 0px;
    font-size: 110%;
}

main .container .content li a {
    margin-left: 10px;
}

main .container .content .inp{
    border-radius: 10px;
    margin: 2%;
}

main .container .content .btn{
    border-radius: 10px;
    background: red;
}

main .container .content h3 {
    font-family: cursive;
    font-size: 150%;
    font-style: bold;
}

footer {
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: stretch;
    align-content: center;
    padding: 2% 5%;
    background: #f9e933;
}

footer .contact {
    float: left;
}

footer .sitemap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}

footer .sitemap ul {
    list-style: none;
    columns: 2;
}

.input-task {
	border-radius: 10px;
	height: 5%;
	width: 25%;
	margin: 1%;
}

.input-tag {
	border-radius: 10px;
	height: 5%;
	width: 25%;
	margin: 1%;
}

.add-task-btn {
	border-radius: 10px;
	color: black;
	padding: 5px 25px;
    margin-left: 125px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
}

.input-name {
	border-radius: 10px;
	height: 5%;
	width: 35%;
	margin: 1%;
}